body {
    background: $color-main;
    margin: 0%;
    padding: 0;
    overflow: hidden;
}

.clear {
    clear: both;
}

a {
    color: white;
    text-decoration: none;
    transition: all 300ms 0s ease;

    &:hover {
        color: grey;
    }
}

p {
    color: white;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: silver;
}