// $font-url--google: '';
// $font-family--primary: '';
// $font-family--secondary: '';
// Color Usage
// $color-key: #8D742A;
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

$color-main: #2D2D2D;
$color-text: #fff;
$contentMax: 1024px;

$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px; // スマホ

// min-width: 768px
@mixin pc {
    @media (min-width: ($pc)) {
        @content;
    }
}

@mixin tab {
    @media (min-width: ($tab)) and (max-width: ($pc)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}