.main {
    width: 92.5%;
    margin: 0 auto;
    position: relative;


    @include pc {
        width: $contentMax;
    }
}

// For projectList modifier
.main--project {
    width: 88%;
    height: 100%;
    margin: 0 auto;
}

// For contact modifier
.main--contact {
    height: 100%;
}


.contentBox {
    position: relative;
    padding-top: 29%;
    color: white;
    display: flex;
    flex-wrap: wrap;

    @include tab {
        padding-top: 15%;
        flex-direction: row;
        justify-content: center;
    }

    @include pc {
        padding-top: 15%;
    }
}

//modifier
.contentBox--project {

    @include pc {
        padding-top: 12%;
    }
}

.contentBox__image {
    width: 280px;
    opacity: .8;

    @include pc {
        max-width: 400px;
        order: 2;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

// modifier
.contentBox__image--project {
    width: 100%;

    @include pc {
        max-width: 100%;
        order: 2;
    }
}

.contentBox__textBox {
    padding: 2em 0;

    // background: red;


    @include pc {
        width: 100%;
        padding-right: 44px;
        order: 1;
    }
}

// modifier
.contentBox__textBox--project {
    @include pc {
        padding-right: 0;
    }
}

// textBox modifier
.contentBox__textBox--about {
    @include pc {
        width: 700px;
    }
}

.contentBox__textBox__title {
    font-size: 2.4em;
    padding-bottom: 0.7em;
    position: relative;

    @include pc {
        font-size: 4em;
    }
}

.contentBox__textBox__text {
    font-family: $textFont;

    @include pc {
        width: 100%;
    }
}

// modifier
.contentBox__textBox__text--contact {
    @include pc {
        width: 78%;
    }
}

.contentBox__textBox__title__closeBtn {
    position: absolute;
    color: white;
    right: 0%;
    top: 0%;
    font-size: 1em;

    @include pc {
        font-size: .5em;
    }
}

.email {
    display: inline-block;
    font-size: 1.5em;
    margin: .6em 0;
    position: relative;

    // background: red;
    &:after {
        position: absolute;
        bottom: -10%;
        left: 0;
        content: "";
        transition: all 1s;
        width: 0%;
        // height: 2px;
    }

    &:hover::after {
        width: 100%;
        height: 2px;
    }

    @include tab {
        font-size: 2em;
    }

    @include pc {
        font-size: 2.6em;
    }
}

// each project pages

.contentBox__details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.projectOrderBtn {
    border-radius: 100%;
    cursor: pointer;
    position: relative;


    .fas {
        font-size: 2em;
        padding: .5em 0;
        color: white;

        &:hover {
            color: black;
            transition: .4s;
        }
    }
}

.visitingBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.visitingBtns__visitingBtn {
    a {
        display: inline-block;
        padding: 0.7em 1.7em;
        text-decoration: none;
        background: white;
        color: black;
        border-radius: 5px;
        margin: 0 .5em;
        transition: .7s;
        border: 2px solid black;

        &:hover {
            background: black;
            color: white;
            border: 2px solid white;

        }

    }
}