.main {
    width: 92.5%;
    margin: 0 auto;
    position: relative;

    @include pc {
        width: $contentMax;
    }
}

// For projectList modifier
.main--project {
    width: 88%;
    height: 100%;
    margin: 0 auto;
}

// For contact modifier
.main--contact {
    height: 100vh;
}

.contentBox {
    background: yellow;
    position: relative;
    padding-top: 29%;
    color: white;
    display: flex;
    flex-wrap: wrap;

    @include tab {
        padding-top: 15%;
        flex-direction: row;
        justify-content: center;
    }

    @include pc {
        padding-top: 15%;
    }
}

//modifier
.contentBox--project {
    @include pc {
        padding-top: 12%;
    }
}

.contentBox__image {
    width: 280px;

    @include pc {
        max-width: 400px;
        order: 2;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

// modifier
.contentBox__image--project {
    width: 100%;
    padding-top: 2em;

    @include pc {
        max-width: 100%;
        order: 2;
    }
}

.contentBox__textBox {
    padding: 2em 0;
    background: red;

    @include tab {
        background: black;
    }

    @include pc {
        width: 100%;
        padding-right: 44px;
        order: 1;
    }
}

// modifier
.contentBox__textBox--project {
    @include pc {
        padding-right: 0;
    }
}

// textBox modifier
.contentBox__textBox--about {
    @include pc {
        width: 700px;
    }
}

.contentBox__textBox__title {
    font-size: 2.4em;
    padding-bottom: .7em;

    @include pc {
        font-size: 4em;
    }
}

.email {
    display: inline-block;
    font-size: 2em;
    margin: 0.3em 0;
    position: relative;

    // background: red;
    &:after {
        position: absolute;
        bottom: -10%;
        left: 0;
        content: "";
        background: grey;
        transition: all 1s;
        width: 0%;
        // height: 2px;
    }

    &:hover::after {
        width: 100%;
        height: 2px;
    }
}