.nav {
    position: relative;
    background: black;
    right: 0;
    height: 100%;
    display: none;
    z-index: 999;
    font-family: 'Playfair Display',
        serif;

    @include tab {
        max-width: 250px;
    }

    @include pc {
        background: transparent;
        position: fixed;
        display: block;
        height: initial;
        width: 270px;
        transform: translate(0%, -25%);
        top: 5%;
        right: 4%;
    }

}

// ul
.nav__box {
    position: absolute;
    top: 110px;

    @include pc {
        top: 37%;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
}

.nav__box__list {
    font-size: 1.3em;
    padding: 3.5em 1em 0 1.5em;
    //animatioin with Gsap
    opacity: 0;

    &:first-of-type {
        padding-top: 0;
    }

    // underline 
    a {
        position: relative;

        &:after {
            position: absolute;
            bottom: -50%;
            left: 50%;
            transform: translate(-50%, 50%);
            content: "";
            background: grey;
            transition: all .3s;
            width: 0%;
        }

        &:hover::after {
            width: 100%;
            height: 2px;
        }
    }


    @include pc {
        //reset
        padding: .9em 0;
        font-size: 1.2em;
        opacity: 0;

        &:first-of-type {
            padding-top: .9em;
        }
    }
}


.hamburger {
    width: 40px;
    height: 25px;
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: -5%;
    z-index: 99999;
    opacity: 0;

    @include pc {
        display: none;
    }
}

.hamburger__line {
    display: block;
    position: absolute;
    height: 3px;
    width: 90%;
    border-radius: 5px;
    opacity: 1;
    background: silver;
    right: 50%;
    transform: translate(50%, 0);

    &:nth-child(1) {
        top: 0;
    }

    &:nth-child(2) {
        top: 50%;
        transform: translate(50%, -50%);
    }

    &:nth-child(3) {
        bottom: 0;
    }
}