.nav {
    position: absolute;
    border-radius: 0 0 0 100%;
    display: none;
    z-index: 2;
    background: black;
    max-width: $contentMax;

    @include mq(lg) {
        width: 85%;
        margin: 0 auto;
        background: transparent;
        right: 50%;
        transform: translate(50%, 0%);
        border-radius: 0 0 0 0;
        display: block;
    }
}

.nav__logo {

    // background: pink;
    display: none;

    @include mq(lg) {
        display: block;
        z-index: 999;
        position: absolute;
        height: 50%;
        padding: 1.8% 0;

        &:hover>#circle {
            transform-origin: 50% 50%;
            transition: all 1s;
            transform: rotate3d(1, 1, 0, 180deg);
        }

        &:hover>#silverRightS {
            transform-origin: 50% 50%;
            transition: all 1s .1s;
            transform: rotate3d(1, 1, 0, 360deg);
        }

        &:hover>#silverLeftS {
            transform-origin: 50% 50%;
            transition: all 1s .1s;
            transform: rotate3d(1, 1, 0, 360deg);
        }
    }
}

// ul
.nav__box {
    @include mq(lg) {
        width: auto;
        height: auto;
        position: relative;
        text-align: right;
        width: 100%;
        // background: red;
    }
}

// for mobile
.nav__box__list {
    display: none;
    font-size: 5vw;
    margin: 2.5em 0;
    position: relative;

    // background: blue;
    &:nth-child(1) {
        margin-left: 2.5em;
    }

    &:nth-child(2) {
        margin-left: 5em;
    }

    &:nth-child(3) {
        margin-left: 7.5em;
    }


    // underline
    a {
        position: relative;

        // background: red;
        &:after {
            position: absolute;
            bottom: -50%;
            left: 50%;
            transform: translate(-50%, 50%);
            content: "";
            background: grey;
            transition: all .3s;
            width: 0%;
            // height: 2px;
        }

        &:hover::after {
            width: 100%;
            height: 2px;
        }
    }

    @include mq(lg) {
        display: inline-block;
        padding: 1.5em 1em 1.5em 1.5em;
        margin: 0;
        font-size: 1.2em;
        width: auto;
        height: auto;

        &:nth-child(1) {
            margin: 0;
        }

        &:nth-child(2) {
            margin: 0;
        }

        &:nth-child(3) {
            margin: 0;
            padding-right: 0;
        }
    }
}

.logoMobile {
    position: absolute;
    top: 6%;
    left: 5%;
    width: 12%;
    max-width: 150px;
    z-index: 999;

    @include mq(lg) {
        display: none;
    }
}

.hamburger {
    width: 15%;
    max-width: 150px;
    height: 9%;
    position: absolute;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 99999;

    @include mq(lg) {
        display: none;
    }
}

.hamburger__line {
    display: block;
    position: absolute;
    height: 6px;
    width: 90%;
    background: white;
    border-radius: 5px;
    opacity: 1;
    background: silver;
    right: 50%;
    transform: translate(50%, -50%);

    &:nth-child(1) {
        top: 25%;
    }

    &:nth-child(2) {
        top: 50%;
    }

    &:nth-child(3) {
        top: 75%;
    }
}