#wrapper {
    position: relative;

    .container {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        position: relative;
    }
}

.contents {
    // opacity: 0;
    position: relative;
}

.contents__logo {
    z-index: -1;
    width: 70%;
    max-width: 600px;
    opacity: 0.05;
    position: absolute;
    top: 50%;
    right: 50%;
    animation: rotating 10s linear infinite;

}

.fullpage {
    width: 100%;
}

.section {
    width: 100%;
    position: relative;
}

.link-active {
    background-color: white;
}