.skillBoxes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    color: white;

    @include tab {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include pc {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.skillBoxs__title {
    font-size: 2em;
    width: 100%;
}

.skillBoxes__box {
    display: none;
    width: 100%;
    height: 100%;
    padding: 1em 0;
    display: flex;
    flex-flow: column;
    font-family: $textFont;


    @include tab {
        width: 47%;
    }

    @include pc {
        margin: 1.66% 0;
        width: 21.68%;
    }

    h4 {
        font-weight: bold;
    }
}


.skillBoxes__box__skillName {
    width: 95%;
    margin: 0 auto;
    margin-top: 1em;
}

.skillBoxes__lists {
    margin-top: 1em;
}

.skillBoxes__lists__item {
    padding: .5em 0;

    // &:first-of-type {
    //     padding: 0;
    // }
}


.skillBoxes__box__bar {
    width: 94%;
    height: 8px;
    margin: 0 auto;
    position: relative;

    // background: black;
    border-style: solid;
    border-width: 2.5px;
    border-color: white;
    margin-top: .8em;
}


.skillBoxes__box__bar__chart {
    position: absolute;
    background: white;

    height: 100%;
    transition: 5s;
}

.skillBoxes__box__bar__chart__100 {
    max-width: 100%;
}

.skillBoxes__box__bar__chart__80 {
    max-width: 80%;
}

.skillBoxes__box__bar__chart__60 {
    max-width: 60%;
}

.skillBoxes__box__bar__chart__40 {
    max-width: 40%;
}

.skillBoxes__box__bar__chart__20 {
    max-width: 20%;
}