//nav logo
.logo {
    width: 25px;
    transform: scale(1.3);
    position: fixed;
    cursor: pointer;
    top: 5%;
    left: 4.2%;
    z-index: 999;

    // hoverout
    #circle {
        transition: all 1s;
    }

    .st0 {
        fill: none;
        stroke: #C0C0C0;
        stroke-width: 5;
        stroke-miterlimit: 10;
    }

    .st1 {
        fill: #CE3727;
    }

    .st2 {
        fill: #C0C0C0;
    }

    &:hover #circle {
        transform-origin: 50% 50%;
        transition: all 1s;
        transform: rotate3d(1, 1, 0, 180deg);
    }

    &:hover .st1 {
        fill: silver;
        transition: all 1s;
    }

    @include pc {
        transform: scale(1.9);
    }
}

// letter image
.lettersgv {
    width: 70px;
    position: absolute;
    top: 78%;
    right: 3%;

    @include tab {
        top: 68%;
        width: 100px;
    }

    @include pc {
        top: 58%;
        width: 200px;
    }

    #lineTop {
        opacity: 0;
    }

    .st0 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 6;
        stroke-miterlimit: 10;
    }

    .st1 {
        fill: $color-main;
        stroke: #FFFFFF;
        stroke-width: 6;
        stroke-miterlimit: 10;
    }

    .st2 {
        fill: none;
        stroke: #777777;
        stroke-width: 9;
        stroke-miterlimit: 10;
    }

    .text {
        fill: #FFFFFF;
    }

}

// background logo
.logoBack {
    z-index: -1;
    width: 50%;
    max-width: 600px;
    opacity: 0.05;
    position: absolute;
    top: 50%;
    right: 50%;
    animation: rotating 10s linear infinite;

    .st0 {
        fill: none;
        stroke: #C0C0C0;
        stroke-width: 5;
        stroke-miterlimit: 10;
    }

    .st1 {
        fill: #CE3727;
    }

    .st2 {
        fill: #C0C0C0;
    }
}

.projectMenuBtn {
    width: 102px;
    height: 102px;
    position: absolute;
    cursor: pointer;
    bottom: 5%;
    left: 3%;
    z-index: 9999999;
    backface-visibility: hidden;

    @include pc {
        width: 130px;
        height: 130px;
    }

    &:hover>.projectMenuBtn__svgBox {
        transform: scale(1.3);
        stroke-dashoffset: 150;
        transition: all .5s;
    }

    &:hover>.projectMenuBtn__text {
        transform: translate(50%, 170%) rotate(0deg);
    }

    @import url('https://fonts.googleapis.com/css?family=Anton');

    .projectMenuBtn__text {
        color: silver;
        position: absolute;
        top: 50%;
        right: 50%;
        transform-origin: center center;
        transition: all .5s;
        transform: translate(50%, -50%) rotate(-42deg);
        font-family: 'Anton',
            sans-serif;
        font-size: .7em;

        @include pc {
            font-size: .9em;
        }
    }

    .projectMenuBtn__svgBox {
        width: 45px;
        position: absolute;
        transition: all 1s;
        bottom: 0;

        @include pc {
            width: 60px;
        }

        .st0 {
            fill: none;
            stroke: #C0C0C0;
            stroke-width: 8;
            stroke-miterlimit: 10;
            stroke-dasharray: 350;
        }
    }
}