.titleBox {
    position: absolute;
    width: 90%;
    max-width: $contentMax;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
    color: white;
}

.titleBox__title {
    font-size: 3em;
    padding: .5em 0;
    letter-spacing: 2px;
    font-family: 'Anton',
        sans-serif;

    @include pc {
        letter-spacing: 4px;
        font-size: 6em;
    }
}

.titleBox__subTitle {
    font-size: 1em;
    line-height: 1.5;
    font-family: 'Playfair Display',
        serif;

    @include pc {
        font-size: 2em;
    }
}