body {
  background: #2D2D2D;
  margin: 0%;
  padding: 0;
  overflow: hidden; }

.clear {
  clear: both; }

a {
  color: white;
  text-decoration: none;
  transition: all 300ms 0s ease; }
  a:hover {
    color: grey; }

p {
  color: white; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: silver; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nav {
  position: relative;
  background: black;
  right: 0;
  height: 100%;
  display: none;
  z-index: 999;
  max-width: 350px; }
  @media (min-width: 1024px) {
    .nav {
      background: transparent;
      position: fixed;
      display: block;
      height: initial;
      width: 270px;
      transform: translate(0%, -25%);
      top: 5%;
      right: 4%; } }

.nav__box {
  position: absolute;
  top: 37%;
  transform: translate(0, -50%); }
  @media (min-width: 1024px) {
    .nav__box {
      position: relative;
      transform: translate(0, 0);
      display: flex;
      justify-content: space-between; } }

.nav__box__list {
  font-size: 2em;
  padding: 3.5em 1em 0 1.5em; }
  .nav__box__list:first-of-type {
    padding-top: 0; }
  .nav__box__list a {
    position: relative; }
    .nav__box__list a:after {
      position: absolute;
      bottom: -50%;
      left: 50%;
      transform: translate(-50%, 50%);
      content: "";
      background: grey;
      transition: all .3s;
      width: 0%; }
    .nav__box__list a:hover::after {
      width: 100%;
      height: 2px; }
  @media (min-width: 1024px) {
    .nav__box__list {
      padding: .9em 0;
      font-size: 1.2em; }
      .nav__box__list:first-of-type {
        padding-top: .9em; } }

.hamburger {
  width: 40px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 4%;
  z-index: 99999; }
  @media (min-width: 1024px) {
    .hamburger {
      display: none; } }

.hamburger__line {
  display: block;
  position: absolute;
  height: 3px;
  width: 90%;
  background: white;
  border-radius: 5px;
  opacity: 1;
  background: silver;
  right: 50%;
  transform: translate(50%, 0); }
  .hamburger__line:nth-child(1) {
    top: 0; }
  .hamburger__line:nth-child(2) {
    top: 50%;
    transform: translate(50%, -50%); }
  .hamburger__line:nth-child(3) {
    bottom: 0; }

.wrapper {
  position: relative; }
  .wrapper .container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative; }

.contents {
  opacity: 0;
  position: relative; }

.contents__logo {
  z-index: -1;
  width: 70%;
  max-width: 600px;
  opacity: 0.05;
  position: absolute;
  top: 50%;
  right: 50%;
  animation: rotating 10s linear infinite; }

.fullpage {
  width: 100%; }

.section {
  width: 100%;
  position: relative; }

.link-active {
  background-color: white; }

.titleBox {
  position: absolute;
  width: 90%;
  max-width: 1024px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  color: white; }

.titleBox__title {
  font-size: 3em;
  padding: .5em 0; }
  @media (min-width: 1024px) {
    .titleBox__title {
      font-size: 5em; } }

.titleBox__subTitle {
  font-size: 1em;
  line-height: 1.5; }
  @media (min-width: 1024px) {
    .titleBox__subTitle {
      font-size: 2.5em; } }

.main {
  width: 90%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-around;
  z-index: 999; }

.main--blockLists {
  width: 70%;
  height: 70%; }

.main--about {
  top: 20%;
  padding: 0 0 3em 0;
  max-height: initial;
  height: initial;
  display: block;
  background: blue; }

.main__blockList {
  position: relative;
  overflow: hidden;
  z-index: 9999999;
  width: 50%;
  max-width: 120px; }
  .main__blockList img {
    width: 100%; }

.main__blockList__mask {
  position: absolute;
  bottom: 0;
  background: black;
  width: 100%;
  height: 0;
  transition: all .1s ease-out; }

.main__blockList__mask__text {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  opacity: 0;
  position: absolute;
  top: 65%;
  right: 50%;
  transform: translate(50%, -50%);
  color: white;
  font-size: 2em;
  padding-left: 0.2em;
  z-index: 999999;
  font-size: 1em; }

.main__box {
  width: 55%;
  height: 40%;
  position: absolute;
  right: 0;
  bottom: 0; }

.main__title {
  font-size: 1.5em;
  padding: 0 0 .5em 0;
  width: 100%;
  color: white; }

.main__title--about {
  padding: 2em 0 0.6em 0;
  background: red; }

.main__texts {
  font-size: 1em;
  padding-bottom: 1em;
  line-height: 1.7;
  color: white;
  width: 100%; }

.main__texts__title {
  font-size: 1.5em;
  width: 100%;
  color: white; }

.text--contact {
  width: 60%;
  float: left; }

.main__links {
  color: white;
  text-align: center;
  display: inline-block;
  background: black;
  padding: 1em;
  margin: 0 auto;
  font-size: .7em; }
  .main__links:hover {
    background: black; }

.main__image {
  width: 70%;
  height: 70%;
  position: relative; }

.email {
  display: inline-block;
  font-size: 1.5em;
  margin: 0.3em 0;
  position: relative; }
  .email:after {
    position: absolute;
    bottom: -10%;
    left: 0;
    content: "";
    background: grey;
    transition: all 1s;
    width: 0%; }
  .email:hover::after {
    width: 100%;
    height: 2px; }

.skillBoxes {
  width: 100%;
  display: flex;
  flex-direction: column; }

h4 {
  width: 95%;
  margin: 0 auto;
  font-size: 1.2em; }

.skillBoxes__box {
  background: yellow;
  width: 100%;
  padding: 1em 0;
  display: flex;
  flex-flow: column; }

.skillBoxes__box__skillName {
  width: 95%;
  margin: 0 auto;
  margin-top: 1em; }

.skillBoxes__box__bar {
  width: 94%;
  height: 13px;
  margin: 0 auto;
  position: relative;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  margin-top: .8em; }

.skillBoxes__box__bar__chart {
  position: absolute;
  background: white;
  border-radius: 20px;
  height: 100%; }

.skillBoxes__box__bar__chart__100 {
  width: 100%; }

.skillBoxes__box__bar__chart__80 {
  width: 80%; }

.skillBoxes__box__bar__chart__60 {
  width: 60%; }

.skillBoxes__box__bar__chart__40 {
  width: 40%; }

.skillBoxes__box__bar__chart__20 {
  width: 20%; }

.logo {
  width: 25px;
  transform: scale(1.3);
  position: absolute;
  cursor: pointer;
  top: 5%;
  left: 4%;
  z-index: 999; }
  .logo #circle {
    transition: all 1s; }
  .logo .st0 {
    fill: none;
    stroke: #C0C0C0;
    stroke-width: 5;
    stroke-miterlimit: 10; }
  .logo .st1 {
    fill: #CE3727; }
  .logo .st2 {
    fill: #C0C0C0; }
  .logo:hover #circle {
    transform-origin: 50% 50%;
    transition: all 1s;
    transform: rotate3d(1, 1, 0, 180deg); }
  .logo:hover .st1 {
    fill: silver;
    transition: all 1s; }
  @media (min-width: 1024px) {
    .logo {
      transform: scale(1.9); } }

.lettersgv {
  width: 30%;
  float: right; }
  .lettersgv #lineTop {
    opacity: 0; }
  .lettersgv .st0 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 6;
    stroke-miterlimit: 10; }
  .lettersgv .st1 {
    fill: #2D2D2D;
    stroke: #FFFFFF;
    stroke-width: 6;
    stroke-miterlimit: 10; }
  .lettersgv .st2 {
    fill: none;
    stroke: #777777;
    stroke-width: 9;
    stroke-miterlimit: 10; }
  .lettersgv .text {
    fill: #FFFFFF; }

.logoBack {
  z-index: -1;
  width: 70%;
  max-width: 600px;
  opacity: 0.05;
  position: absolute;
  top: 50%;
  right: 50%;
  animation: rotating 10s linear infinite; }
  .logoBack .st0 {
    fill: none;
    stroke: #C0C0C0;
    stroke-width: 5;
    stroke-miterlimit: 10; }
  .logoBack .st1 {
    fill: #CE3727; }
  .logoBack .st2 {
    fill: #C0C0C0; }

#projectMenu {
  position: absolute;
  background: red;
  z-index: 9999999;
  width: 90%;
  height: 100%; }

@keyframes rotating {
  from {
    transform: translate(50%, -50%) rotate(0deg); }
  to {
    transform: translate(50%, -50%) rotate(360deg); } }

.animationDiv__box {
  position: absolute; }

#fp-nav {
  position: absolute;
  width: 100%;
  pointer-events: none; }
  #fp-nav ul {
    margin: 0 auto;
    width: 95%; }
    #fp-nav ul li {
      margin: .5% 0;
      position: relative;
      height: 30px;
      pointer-events: auto;
      opacity: 1; }
      #fp-nav ul li:hover a span {
        width: 60%;
        height: 100%;
        margin: 0;
        opacity: 1; }
      #fp-nav ul li:hover a.active span {
        width: 60%;
        height: 100%;
        margin: 0;
        border-radius: 0;
        opacity: 1; }
      #fp-nav ul li a.active span {
        margin: 0 0;
        border-radius: 0;
        background: white;
        transform: translate(-50%, -50%);
        height: 60%;
        width: 60%; }
      #fp-nav ul li a span {
        margin: 0 0;
        border-radius: 0;
        background-color: black;
        transform: translate(-50%, -50%);
        height: 90%;
        width: 65%;
        opacity: 1; }

.fab {
  font-size: 2em;
  margin: .5em 1.2em 0 0; }
