@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #2D2D2D;
  height: 100%;
  margin: 0%;
  padding: 0; }

.clear {
  clear: both; }

a {
  text-decoration: none;
  transition: all 300ms 0s ease;
  color: white; }
  a:hover {
    color: grey; }

p {
  line-height: 1.5; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: silver; }

.nav {
  position: relative;
  background: black;
  right: 0;
  height: 100%;
  display: none;
  z-index: 999;
  font-family: "Playfair Display", serif; }
  @media (min-width: 680px) and (max-width: 1024px) {
    .nav {
      max-width: 250px; } }
  @media (min-width: 1024px) {
    .nav {
      background: transparent;
      position: fixed;
      display: block;
      height: initial;
      width: 270px;
      transform: translate(0%, -25%);
      top: 5%;
      right: 4%; } }

.nav__box {
  position: absolute;
  top: 110px; }
  @media (min-width: 1024px) {
    .nav__box {
      top: 37%;
      position: relative;
      display: flex;
      justify-content: space-between; } }

.nav__box__list {
  font-size: 1.3em;
  padding: 3.5em 1em 0 1.5em;
  opacity: 0; }
  .nav__box__list:first-of-type {
    padding-top: 0; }
  .nav__box__list a {
    position: relative; }
    .nav__box__list a:after {
      position: absolute;
      bottom: -50%;
      left: 50%;
      transform: translate(-50%, 50%);
      content: "";
      background: grey;
      transition: all .3s;
      width: 0%; }
    .nav__box__list a:hover::after {
      width: 100%;
      height: 2px; }
  @media (min-width: 1024px) {
    .nav__box__list {
      padding: .9em 0;
      font-size: 1.2em;
      opacity: 0; }
      .nav__box__list:first-of-type {
        padding-top: .9em; } }

.hamburger {
  width: 40px;
  height: 25px;
  position: fixed;
  cursor: pointer;
  top: 5%;
  right: -5%;
  z-index: 99999;
  opacity: 0; }
  @media (min-width: 1024px) {
    .hamburger {
      display: none; } }

.hamburger__line {
  display: block;
  position: absolute;
  height: 3px;
  width: 90%;
  border-radius: 5px;
  opacity: 1;
  background: silver;
  right: 50%;
  transform: translate(50%, 0); }
  .hamburger__line:nth-child(1) {
    top: 0; }
  .hamburger__line:nth-child(2) {
    top: 50%;
    transform: translate(50%, -50%); }
  .hamburger__line:nth-child(3) {
    bottom: 0; }

#wrapper {
  position: relative; }
  #wrapper .container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    opacity: 0; }

.contents {
  position: relative; }

.contents__logo {
  z-index: -1;
  width: 70%;
  max-width: 600px;
  opacity: 0.05;
  position: absolute;
  top: 50%;
  right: 50%;
  animation: rotating 10s linear infinite; }

.fullpage {
  width: 100%; }

.section {
  width: 100%;
  position: relative; }

.link-active {
  background-color: white; }

.skipAnimationBtn {
  color: white;
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  font-size: 1em;
  z-index: 99999;
  font-family: "Playfair Display", serif; }

.titleBox {
  position: absolute;
  width: 90%;
  max-width: 1024px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  color: white;
  overflow: hidden; }

.titleBox__title {
  position: relative;
  font-size: 3em;
  padding: .5em 0;
  letter-spacing: 2px;
  font-family: 'Anton', sans-serif;
  overflow: hidden; }
  @media (max-width: 480px) {
    .titleBox__title {
      letter-spacing: 4px;
      font-size: 2.2em; } }
  @media (min-width: 1024px) {
    .titleBox__title {
      letter-spacing: 4px;
      font-size: 6em; } }

.titleBox__subTitle {
  font-size: 1em;
  line-height: 1.5;
  font-family: "Playfair Display", serif; }
  @media (min-width: 1024px) {
    .titleBox__subTitle {
      font-size: 2em; } }

.main {
  width: 92.5%;
  margin: 0 auto;
  position: relative; }
  @media (min-width: 1024px) {
    .main {
      width: 1024px; } }

.main--project {
  width: 88%;
  height: 100%;
  margin: 0 auto; }

.main--contact {
  height: 100%; }

.contentBox {
  position: relative;
  padding-top: 29%;
  color: white;
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 680px) and (max-width: 1024px) {
    .contentBox {
      padding-top: 15%;
      flex-direction: row;
      justify-content: center; } }
  @media (min-width: 1024px) {
    .contentBox {
      padding-top: 15%; } }

@media (min-width: 1024px) {
  .contentBox--project {
    padding-top: 12%; } }

.contentBox__image {
  width: 280px;
  opacity: .8; }
  @media (min-width: 1024px) {
    .contentBox__image {
      max-width: 400px;
      order: 2; } }
  .contentBox__image img {
    width: 100%;
    height: 100%; }

.contentBox__image--project {
  width: 100%; }
  @media (min-width: 1024px) {
    .contentBox__image--project {
      max-width: 100%;
      order: 2; } }

.contentBox__textBox {
  padding: 2em 0; }
  @media (min-width: 1024px) {
    .contentBox__textBox {
      width: 100%;
      padding-right: 44px;
      order: 1; } }

@media (min-width: 1024px) {
  .contentBox__textBox--project {
    padding-right: 0; } }

@media (min-width: 1024px) {
  .contentBox__textBox--about {
    width: 700px; } }

.contentBox__textBox__title {
  font-size: 2.4em;
  padding-bottom: 0.7em;
  position: relative; }
  @media (min-width: 1024px) {
    .contentBox__textBox__title {
      font-size: 4em; } }

.contentBox__textBox__title__closeBtn {
  position: absolute;
  color: white;
  right: 0%;
  top: 0%;
  font-size: 1em; }
  @media (min-width: 1024px) {
    .contentBox__textBox__title__closeBtn {
      font-size: .5em; } }

.email {
  display: inline-block;
  font-size: 1.5em;
  margin: 0.3em 0;
  position: relative; }
  .email:after {
    position: absolute;
    bottom: -10%;
    left: 0;
    content: "";
    transition: all 1s;
    width: 0%; }
  .email:hover::after {
    width: 100%;
    height: 2px; }

.contentBox__details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 0; }

.projectOrderBtn {
  border-radius: 100%;
  cursor: pointer;
  position: relative; }
  .projectOrderBtn .fas {
    font-size: 2em;
    padding: .5em 0;
    color: white; }
    .projectOrderBtn .fas:hover {
      color: black;
      transition: .4s; }

.visitingBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.visitingBtns__visitingBtn a {
  display: inline-block;
  padding: 0.7em 1.7em;
  text-decoration: none;
  background: white;
  color: black;
  border-radius: 5px;
  margin: 0 .5em;
  transition: .7s;
  border: 2px solid black; }
  .visitingBtns__visitingBtn a:hover {
    background: black;
    color: white;
    border: 2px solid white; }

.projectListBox {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  height: 50%; }

.projectListBox__image {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(12deg);
  position: absolute;
  width: 80%;
  filter: brightness(70%);
  transition: all .2s;
  cursor: pointer;
  text-align: center;
  animation: floating 1s ease-in-out infinite alternate; }
  .projectListBox__image img {
    width: 100%;
    opacity: 0; }
  .projectListBox__image:hover {
    filter: brightness(100%);
    transition: all .2s; }
  @media (min-width: 680px) and (max-width: 1024px) {
    .projectListBox__image {
      width: 40%; } }
  @media (min-width: 1024px) {
    .projectListBox__image {
      width: 30%; } }

.projectListBox__title {
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #DE0000;
  width: 100%;
  font-family: 'Anton', sans-serif;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  transition: all .2s; }

.projectListBox__title__num {
  font-size: 6em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 90px;
  width: 100%; }
  @media (min-width: 680px) and (max-width: 1024px) {
    .projectListBox__title__num {
      width: 60px;
      font-size: 5em; } }
  @media (min-width: 1024px) {
    .projectListBox__title__num {
      font-size: 7em;
      width: 80px; } }

.projectListBox__title__num--num1 {
  max-width: 80px;
  width: 100%; }
  @media (min-width: 680px) and (max-width: 1024px) {
    .projectListBox__title__num--num1 {
      width: 55px; } }
  @media (min-width: 1024px) {
    .projectListBox__title__num--num1 {
      width: 70px; } }

.projectListBox__title__name {
  text-align: right;
  line-height: 1.1;
  font-size: 2.62em; }
  @media (min-width: 680px) and (max-width: 1024px) {
    .projectListBox__title__name {
      font-size: 5em; } }
  @media (min-width: 1024px) {
    .projectListBox__title__name {
      font-size: 6.5em; } }

.zero {
  position: absolute;
  font-family: 'Anton', sans-serif;
  font-size: 6em;
  color: #DE0000;
  z-index: 1;
  top: 50%;
  left: 3.5%;
  transform: translate(0, -50%); }
  @media (min-width: 680px) and (max-width: 1024px) {
    .zero {
      font-size: 5em; } }
  @media (min-width: 1024px) {
    .zero {
      font-size: 7em; } }

.skillBoxes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  color: white; }
  @media (min-width: 1024px) {
    .skillBoxes {
      flex-direction: row;
      flex-wrap: wrap; } }

.skillBoxs__title {
  font-size: 2em;
  width: 100%; }

.skillBoxes__box {
  display: none;
  width: 100%;
  height: 100%;
  padding: 1em 0;
  display: flex;
  flex-flow: column; }
  @media (min-width: 1024px) {
    .skillBoxes__box {
      padding: 1.66%;
      width: 30%; } }

.skillBoxes__box__skillName {
  width: 95%;
  margin: 0 auto;
  margin-top: 1em; }

.skillBoxes__box__bar {
  width: 94%;
  height: 13px;
  margin: 0 auto;
  position: relative;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  margin-top: .8em; }

.skillBoxes__box__bar__chart {
  position: absolute;
  background: white;
  border-radius: 20px;
  height: 100%;
  transition: 5s; }

.skillBoxes__box__bar__chart__100 {
  max-width: 100%; }

.skillBoxes__box__bar__chart__80 {
  max-width: 80%; }

.skillBoxes__box__bar__chart__60 {
  max-width: 60%; }

.skillBoxes__box__bar__chart__40 {
  max-width: 40%; }

.skillBoxes__box__bar__chart__20 {
  max-width: 20%; }

.socialBtns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex: 1; }
  @media (min-width: 680px) and (max-width: 1024px) {
    .socialBtns {
      order: 3;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; } }
  @media (min-width: 1024px) {
    .socialBtns {
      order: 3;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; } }
  @media (max-width: 480px) {
    .socialBtns {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start; } }

.socialBtns__socialIcon {
  font-size: 2.3em;
  margin-bottom: 1em; }
  @media (min-width: 680px) and (max-width: 1024px) {
    .socialBtns__socialIcon {
      padding: 0 0 0 1em;
      margin-bottom: 0; } }
  @media (min-width: 1024px) {
    .socialBtns__socialIcon {
      padding: .5em 0 0 1em;
      margin-bottom: 0;
      font-size: 2.4em; } }
  @media (max-width: 480px) {
    .socialBtns__socialIcon {
      padding-top: .5em;
      padding-right: .3em;
      margin-bottom: 0;
      font-size: 2.4em; } }

.logo {
  width: 25px;
  transform: scale(1.3);
  position: fixed;
  cursor: pointer;
  top: -10%;
  left: 4.2%;
  z-index: 999;
  opacity: 0; }
  .logo #circle {
    transition: all 1s; }
  .logo .st0 {
    fill: none;
    stroke: #C0C0C0;
    stroke-width: 5;
    stroke-miterlimit: 10; }
  .logo .st1 {
    fill: #CE3727; }
  .logo .st2 {
    fill: #C0C0C0; }
  .logo:hover #circle {
    transform-origin: 50% 50%;
    transition: all 1s;
    transform: rotate3d(1, 1, 0, 180deg); }
  .logo:hover .st1 {
    fill: silver;
    transition: all 1s; }
  @media (min-width: 1024px) {
    .logo {
      transform: scale(1.9); } }

.lettersgv {
  width: 70px;
  position: absolute;
  top: 78%;
  right: 3%; }
  @media (min-width: 680px) and (max-width: 1024px) {
    .lettersgv {
      top: 68%;
      width: 100px; } }
  @media (min-width: 1024px) {
    .lettersgv {
      top: 58%;
      width: 200px; } }
  .lettersgv #lineTop {
    opacity: 0; }
  .lettersgv .st0 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 6;
    stroke-miterlimit: 10; }
  .lettersgv .st1 {
    fill: #2D2D2D;
    stroke: #FFFFFF;
    stroke-width: 6;
    stroke-miterlimit: 10; }
  .lettersgv .st2 {
    fill: none;
    stroke: #777777;
    stroke-width: 9;
    stroke-miterlimit: 10; }
  .lettersgv .text {
    fill: #FFFFFF; }

.logoBack {
  z-index: -1;
  width: 90%;
  max-width: 600px;
  opacity: 0.05;
  position: fixed;
  top: 50%;
  right: 50%;
  animation: rotating 10s linear infinite; }
  @media (min-width: 1024px) {
    .logoBack {
      width: 50%; } }
  .logoBack .st0 {
    fill: none;
    stroke: #C0C0C0;
    stroke-width: 5;
    stroke-miterlimit: 10; }
  .logoBack .st1 {
    fill: #CE3727; }
  .logoBack .st2 {
    fill: #C0C0C0; }

.projectMenuBtn {
  width: 102px;
  height: 102px;
  position: absolute;
  cursor: pointer;
  bottom: 5%;
  left: 3%;
  z-index: 9;
  backface-visibility: hidden; }
  @media (min-width: 1024px) {
    .projectMenuBtn {
      width: 130px;
      height: 130px; } }
  .projectMenuBtn:hover > .projectMenuBtn__svgBox {
    transform: scale(1.3);
    stroke-dashoffset: 150;
    transition: all .5s; }
  .projectMenuBtn:hover > .projectMenuBtn__text {
    transform: translate(50%, 170%) rotate(0deg); }
  .projectMenuBtn .projectMenuBtn__text {
    color: silver;
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: center center;
    transition: all .5s;
    transform: translate(50%, -50%) rotate(-42deg);
    font-family: 'Anton', sans-serif;
    font-size: .7em; }
    @media (min-width: 1024px) {
      .projectMenuBtn .projectMenuBtn__text {
        font-size: .9em; } }
  .projectMenuBtn .projectMenuBtn__svgBox {
    width: 45px;
    position: absolute;
    transition: all 1s;
    bottom: 0; }
    @media (min-width: 1024px) {
      .projectMenuBtn .projectMenuBtn__svgBox {
        width: 60px; } }
    .projectMenuBtn .projectMenuBtn__svgBox .st0 {
      fill: none;
      stroke: #C0C0C0;
      stroke-width: 8;
      stroke-miterlimit: 10;
      stroke-dasharray: 350; }

#projectMenu {
  position: relative;
  background: black;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
  z-index: 999;
  padding-top: 1.1em;
  z-index: 99999999999999; }
  @media (min-width: 1024px) {
    #projectMenu {
      max-width: 500px; } }
  @media (min-width: 680px) and (max-width: 1024px) {
    #projectMenu {
      max-width: 400px; } }
  @media (max-width: 480px) {
    #projectMenu {
      max-width: 300px; } }
  #projectMenu li {
    height: 10%;
    max-height: 50px;
    padding: 5% 5.5%;
    position: relative; }
    @media (min-width: 1024px) {
      #projectMenu li {
        max-height: 40px; } }
    @media (max-width: 480px) {
      #projectMenu li {
        height: 7%; } }
    #projectMenu li:after {
      content: "";
      width: 90%;
      height: 1px;
      background: white;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(5%, 0); }
    #projectMenu li a {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between; }
      #projectMenu li a:before {
        content: "";
        width: 100%;
        height: 1px;
        background: white;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all 0.2s; }
      #projectMenu li a:hover:before {
        height: 101%;
        opacity: 1;
        transition: all 0.2s; }
      #projectMenu li a:hover p {
        color: black;
        transition: all 0.1s;
        position: relative;
        z-index: 2; }
      #projectMenu li a:hover h5 {
        color: black;
        transition: all 0.1s;
        position: relative;
        z-index: 2; }
    #projectMenu li .sampleText {
      position: relative;
      font-size: 1.2em;
      z-index: 2; }
    #projectMenu li .sampleImg {
      position: absolute;
      display: block;
      top: 0;
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
      width: 25%;
      max-width: 50px; }
    #projectMenu li h5 {
      font-size: 1em;
      padding-bottom: 0.3em;
      color: white; }
    #projectMenu li p {
      font-size: 0.5em;
      color: white; }
      @media (max-width: 480px) {
        #projectMenu li p {
          display: none; } }

.moveSectionDown {
  cursor: pointer;
  position: fixed;
  width: 50px;
  height: 50px;
  left: 50%;
  bottom: 6%;
  animation: arrowScroll 1.5s infinite;
  z-index: 99999; }
  @media (min-width: 1024px) {
    .moveSectionDown {
      display: none; } }
  .moveSectionDown .arrow__line:nth-child(2) {
    display: none; }

.arrow {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 4%;
  left: 11%;
  transform: translate(-50%, -50%); }
  .arrow:hover .arrow__line {
    background: gray; }

.arrow__line {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 5px;
  opacity: 1;
  right: 50%;
  transition: all 0.3s; }
  .arrow__line:nth-child(1) {
    width: 50%;
    top: 15%;
    transform-origin: right center;
    transform: rotate(-40deg); }
  .arrow__line:nth-child(2) {
    top: 50%;
    transform: translate(50%, -50%);
    width: 80%; }
  .arrow__line:nth-child(3) {
    width: 50%;
    bottom: 15%;
    transform-origin: right center;
    transform: rotate(40deg); }

.tags {
  padding: .8em 0; }

.tags__item {
  display: inline-block;
  border: 1.5px solid #f2f2f2;
  border-radius: 5px;
  color: white;
  padding: 5px 10px 5px 28px;
  margin: 3px 5px 3px 0;
  font-size: .9em;
  position: relative; }

.tags__item:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%); }

.blue:before {
  background: blue; }

.pink:before {
  background: pink; }

.red:before {
  background: red; }

.green:before {
  background: green; }

.purple:before {
  background: purple; }

.orange:before {
  background: orange; }

.yellow:before {
  background: yellow; }

footer {
  text-align: center;
  padding: 2em 0;
  font-size: .7em;
  color: white;
  bottom: 0;
  width: 100%; }

.stickBtm {
  position: absolute;
  bottom: 0; }

@keyframes rotating {
  from {
    transform: translate(50%, -50%) rotate(0deg); }
  to {
    transform: translate(50%, -50%) rotate(360deg); } }

.blinking {
  animation: blink .1s ease-in-out 50 alternate; }

@-webkit-keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes floating {
  100% {
    transform: translate(50%, -53%) rotate(12deg); } }

@keyframes arrowScroll {
  0% {
    transform: translate(-50%, 0) rotate(-90deg);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: translate(-50%, 20px) rotate(-90deg);
    opacity: 0; } }

.animationDiv__box {
  position: fixed;
  z-index: 9999; }

.eye {
  width: 20px;
  height: 8px;
  background-color: #f0dcdc;
  border-radius: 0px 0px 20px 20px;
  position: relative;
  left: 10px;
  top: 40px;
  box-shadow: 40px 0px 0px 0px #f0dcdc; }

.head {
  -webkit-backface-visibility: hidden;
  position: relative;
  margin: -250px auto;
  width: 80px;
  height: 80px;
  background-color: #111;
  border-radius: 50px;
  box-shadow: inset -4px 2px 0px 0px #f0dcdc;
  -webkit-animation: headAnim 1.5s infinite alternate;
  -webkit-animation-timing-function: ease-out; }

.body {
  position: relative;
  margin: 90px auto;
  width: 140px;
  height: 120px;
  background-color: #111;
  border-radius: 50px/25px;
  box-shadow: inset -5px 2px 0px 0px #f0dcdc;
  -webkit-animation: bodyAnim 1.5s infinite alternate;
  -webkit-animation-timing-function: ease-out; }

@-webkit-keyframes headAnim {
  0% {
    top: 0px; }
  50% {
    top: 10px; }
  100% {
    top: 0px; } }

@-webkit-keyframes bodyAnim {
  0% {
    top: -5px; }
  50% {
    top: 10px; }
  100% {
    top: -5px; } }

.circ {
  position: absolute;
  -webkit-backface-visibility: hidden;
  margin: 60px auto;
  width: 180px;
  height: 180px;
  border-radius: 0px 0px 50px 50px;
  z-index: -1;
  overflow: hidden;
  right: 50%;
  top: 50%; }

.hands {
  -webkit-backface-visibility: hidden;
  margin-top: 140px;
  width: 120px;
  height: 120px;
  position: absolute;
  background-color: #111;
  border-radius: 20px;
  box-shadow: -1px -4px 0px 0px #f0dcdc;
  -webkit-transform: rotate(45deg);
  top: 75%;
  left: 16%;
  z-index: 1;
  -webkit-animation: bodyAnim 1.5s infinite alternate;
  -webkit-animation-timing-function: ease-out; }

.load {
  position: absolute;
  width: 7ch;
  height: 32px;
  text-align: left;
  line-height: 32px;
  margin: -10px auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #f0dcdc;
  left: 2%;
  top: 5%;
  -webkit-animation: fontAnim 3.75s infinite;
  -webkit-animation-timing-function: ease-out;
  word-wrap: break-word;
  display: block;
  overflow: hidden; }

@-webkit-keyframes fontAnim {
  0% {
    width: 7ch; }
  16% {
    width: 8ch; }
  32% {
    width: 9ch; }
  48% {
    width: 10ch; }
  64% {
    width: 11ch; }
  80% {
    width: 12ch; }
  100% {
    width: 13ch; } }
